*{
    font-family: monospace;
}

body{
    font-size: 22px;
}
h1,h2{
    color:blueviolet
}
.highlight{
    background-color: gold;
    text-transform: uppercase;
}

p{
    color:grey;
}

.grey{
    color:blue;
}

#raj {
    color:red;
}