
main{
    font-size: 26px;
}

header > h1 {
    color: blue;
    font-size: 40px;
}

#first {
    color: red;
    background-color: yellow;
}

.purple {
    color: purple;
    background-color: rgb(147, 188, 147);
    font-family: monospace;
    
}